<div class="mat-elevation-z8">
        <table mat-table [dataSource]="productsOrder">
                <!-- Item Column -->
                <ng-container matColumnDef="item">
                        <th mat-header-cell *matHeaderCellDef> Item </th>
                        <td mat-cell *matCellDef="let productOrder"> {{productOrder.descProduct}} </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>

                <!-- Value Column -->
                <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef> Value </th>
                        <td mat-cell *matCellDef="let productOrder"> {{productOrder.productValue | currency:'BRL'}}</td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef> Quantity </th>
                        <td mat-cell *matCellDef="let productOrder"> {{productOrder.quantity}} </td>
                        <td mat-footer-cell *matFooterCellDef>Total: </td>
                </ng-container>

                <!-- SubTotal Column -->
                <ng-container matColumnDef="subtotal">
                        <th mat-header-cell *matHeaderCellDef> Sub-total </th>
                        <td mat-cell *matCellDef="let productOrder"> {{productOrder.productValue *
                                productOrder.quantity | currency:'BRL'}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> {{totalOrderPrice | currency:'BRL'}} </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td mat-cell *matCellDef="let productOrder">
                                <a (click)="deleteProduct(productOrder.codProduct)" class="button-delete">
                                        <i class="material-icons delete">
                                                delete
                                        </i>
                                </a>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

        </table>
</div>