<mat-card class="card">
        <mat-card-title>New order</mat-card-title>
        <mat-divider inset></mat-divider>

        <div class="product-add">
                <div class="row">
                        <mat-form-field appearance="fill" class="column">
                                <mat-label>Product</mat-label>
                                <mat-select name="product" [(ngModel)]="selectedValue">
                                        <mat-option *ngFor="let product of products" [value]="product.codProduct">
                                                {{product.descProduct}}
                                        </mat-option>
                                </mat-select>
                        </mat-form-field>

                        <button mat-raised-button color="primary" (click)="decrement()"
                                [disabled]="isDecrementDisabled? 'disabled' : null">-</button>

                        <input ng-model="quantityField" type='text' name='quantity' value='{{quantityField}}'
                                class='qty column'
                                onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                                (change)="changeQuantityNumber($event)" />

                        <button mat-raised-button color="accent" (click)="increment()">+</button>

                        <a (click)="addProduct()" class="add-button column">
                                <i class="material-icons add">
                                        add
                                </i>
                        </a>
                </div>
        </div>
        <app-order-product-container [productsOrder]="productsOrder" [totalOrderPrice]="totalOrderPrice">
        </app-order-product-container>
        <mat-divider inset></mat-divider>

        <mat-card-actions>
                <div class="row">
                        <button mat-button class="column">Cancel</button>
                        <button mat-button class="column">Save</button>
                </div>
        </mat-card-actions>
</mat-card>