.card {
        max-width: 500px;
}

.content {
        padding-top: 10px;
}

.total-value {
        text-align: right;
        font-weight: bold;
}

.row {
        display: flex;
        align-items: center;
}

.column {
        padding-top: 10px;
        float: left;
        justify-content: center;
        width: 50%;
        padding: 10px;
}

.add-button {
        cursor: pointer;

}

.add {
        color: white;
        background-color: green;
        border-radius: 50%;

}

.button-quantity {
        color: black;
        background-color: orange;
        font-weight: bold;
        border-color: orange;
        height: 39px;
}

.qty {
        border-color: white;
}

.disabled {
        all: unset;
        background-color: grey;
        border-color: grey !important;

}


::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0px !important;
}

::ng-deep .mat-form-field-underline {
        display: none !important;
}