<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title">
    Welcome to FastOrder!
  </mat-card-title>
  <mat-card-subtitle class="subtitle">
    FastOrder it's an order management system, developed to organize the orders of a restaurant, with the possibility to
    integrate
    with external systems on time real.<br>
    It's a personal study project just to improve the angular knowledge and English language, the system can have
    responsivity problems and can be not so user friendly.
  </mat-card-subtitle>
</mat-card>