button {
        margin-bottom: 30px;
}

.grid1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 25px;
        height: 100%;
}

@media (max-width: 1550px) {

        .grid1 {
                grid-template-columns: repeat(3, 1fr);
        }
}

@media (max-width: 1200px) {

        .grid1 {
                grid-template-columns: repeat(2, 1fr);
        }
}

@media (max-width: 830px) {

        .grid1 {
                grid-template-columns: repeat(1, 1fr);
        }
}