<mat-card class="card">
        <div class="row">
                <mat-card-title>Order Number: {{order.codPedido}}</mat-card-title>
                <i class="material-icons icon" [ngClass]="{
                        'ready-to-prepare': order.codStatusPedido === OrderStatus.ReadyToPrepare,
                        'progress': order.codStatusPedido === OrderStatus.Progress,
                        'ready-for-withdrawal': order.codStatusPedido === OrderStatus.ReadyForWithdrawal,
                        'done': order.codStatusPedido === OrderStatus.Done,
                        'cancelled': order.codStatusPedido === OrderStatus.Cancelled
                      }">
                        circle
                </i>
        </div>

        <div class="details-panel">
                <mat-accordion>
                        <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                        <mat-panel-title>
                                                Total Itens: {{orderItens.length}}
                                        </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p *ngFor="let orderItem of orderItens"> {{orderItem.codItemPedido}} -
                                        {{orderItem.descProduto}}
                                        Quantity: {{orderItem.quantidade}}
                                        Cost: {{orderItem.productValue | currency:'BRL'}}
                                </p>
                                <p *ngIf="order.dadoComplementar">
                                        <b>Notes:</b> {{order.dadoComplementar}}
                                </p>

                        </mat-expansion-panel>
                </mat-accordion>
        </div>

        <mat-divider inset></mat-divider>
        <div class="row total">
                <p class="status column bold">
                        Status: {{order.descStatusPedido}}
                </p>
                <p class="total-value column bold">
                        Total: {{order.totalValue | currency:'BRL'}}
                </p>
        </div>
        <mat-card-actions>
                <div class="row">
                        <button *ngIf="order.codStatusPedido != OrderStatus.ReadyToPrepare" mat-button
                                class="column action ready-to-prepare">Move to Ready to prepare</button>
                        <button *ngIf="order.codStatusPedido != OrderStatus.Progress" mat-button
                                class="column action progress">Move to In progress</button>
                        <button *ngIf="order.codStatusPedido != OrderStatus.ReadyForWithdrawal && 
                                      (order.codStatusPedido == OrderStatus.ReadyToPrepare || order.codStatusPedido == OrderStatus.Progress)"
                                mat-button class="column action ready-for-withdrawal">Move to Ready to
                                Withdrawal</button>
                </div>
                <div class="row bottom">
                        <button *ngIf="order.codStatusPedido != OrderStatus.ReadyForWithdrawal && 
                                      (order.codStatusPedido == OrderStatus.Done || order.codStatusPedido == OrderStatus.Cancelled)"
                                mat-button class="column action ready-for-withdrawal">Move to Ready to
                                Withdrawal</button>
                        <button *ngIf="order.codStatusPedido != OrderStatus.Done" mat-button
                                class="column action done">Move to Done</button>
                        <button *ngIf="order.codStatusPedido != OrderStatus.Cancelled" mat-button
                                class="column action cancel">Move to Canceled</button>
                </div>
        </mat-card-actions>
</mat-card>