.card {
        max-width: 400px;
        width: 350px;
        background-color: lightgray;
}

@media (max-width: 1000px) {

        .card {
                max-width: 300px;
        }
}

.icon {
        margin-left: auto;
        margin-right: 0;
}

.status {
        text-align: left;
        flex: 2 1;
}


.total {
        padding: 0px;
        padding-bottom: 5px;
        height: 25px;
        display: flex;
}

.total-value {
        text-align: right;
        flex: 1 1;
}

.bold {
        font-weight: bold;
}

/* Create two equal columns that floats next to each other */
.column {
        padding-top: 10px;
        float: left;
        width: 50%;
        padding: 10px;
}

.row {
        display: flex;
}

.action {
        text-align: center;
        font: 11px sans-serif;
        font-weight: bold;
        padding-bottom: 45px;
        color: white;
}

::ng-deep .action>.mat-button-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}


button {
        height: 0px;
}

.bottom {
        padding-top: 10px;
}

.mat-expansion-panel-header-description {
        flex-grow: 1;
}

.details-panel {
        padding-top: 5px;
}

.icon.ready-to-prepare {
        color: blue;
}

.icon.progress {
        color: orange;
}

.icon.ready-for-withdrawal {
        color: green;
}

.icon.done {
        color: rebeccapurple;
}

.icon.cancelled {
        color: red;
}

button.ready-to-prepare {
        background-color: blue;
}

button.cancel {
        background-color: red;
}

button.progress {
        background-color: orange;
}

button.ready-for-withdrawal {

        background-color: green;
}

button.done {
        background-color: rebeccapurple;
}