<mat-card class="card">
        <mat-card-title>Order Number: {{order.codPedido}}</mat-card-title>
        <mat-accordion>
                <mat-expansion-panel>
                        <mat-expansion-panel-header>
                                <mat-panel-title>
                                        Total Order Itens: {{orderItens.length}}
                                </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p *ngFor="let orderItem of orderItens">OrdemItem:{{orderItem.codItemPedido}} Product:
                                {{orderItem.descProduto}} Quantity: {{orderItem.quantidade}} ProductValue:
                                {{orderItem.productValue | currency:'BRL'}}
                        </p>
                </mat-expansion-panel>
        </mat-accordion>
        <mat-divider inset></mat-divider>
        <div class="row total">
                <p class="status column bold">
                        Status: {{order.descStatusPedido}}
                </p>
                <p class="total-value column bold">
                        Total: {{order.totalValue | currency:'BRL'}}
                </p>
        </div>
        <mat-card-actions>
                <div class="row">
                        <button mat-button class="column action cancel">Move to Canceled</button>
                        <button mat-button class="column action progress">Move to In progress</button>
                </div>
                <div class="row bottom">
                        <button mat-button class="column action take-away">Move to Ready to pick up</button>
                        <button mat-button class="column action done">Move to Done</button>
                </div>
        </mat-card-actions>
</mat-card>