.cancel {
        background-color: red;
        color: white;
        margin-right: 10px;
}

form {
        display: flex;
        flex-direction: column;
}

table {
        width: 100%;
}

.button-delete {
        cursor: pointer;
}

.edit {
        color: black;
        margin-right: 15px;
}

.delete {
        color: red !important;
}

.create {
        color: white;
        background-color: #7abed1;
}